{% if host.type == "juniper" %}
system {
  hostname {{ inventory_hostname|lower }}
  root-authentication {
        encrypted-password "{{ root_hash }}";
    }
}
{% elif host.type == "arista" %}

{% endif %}
