{% if host.type == "juniper" %}
	{% if host.name.find("router") == 0 %}
	interfaces vlan {
		unit {{ vlan.id }} {
			family inet {
				address {{ vlan.default_gateway }}/{{ vlan.cidr }}
				}
			}
		}
		vlans VL{{ vlan.id }} {
			l3-interface vlan.{{ vlan.id }};
		}
		{% endif %}
		vlans VL{{ vlan.id }} {
			vlan-id {{ vlan.id }};
	 }
{% elif host.type == "arista" %}
	{% if host.name.find("router") == 0 %}
		vlan {{ vlan.id }}
		interface vlan {{ vlan.id }}
		ip address {{ vlan.default_gateway }}/{{ vlan.cidr }}
	{% endif %}
	vlan {{ vlan.id }}
{% endif %}
